<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671117041/fb-distilled-spirits-filtration-pouring-wisky-header_1_d6ri5t.jpg", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671195544/img_22_jesaxj.webp", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671195085/img_19_hsqi3l.webp", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5">
  <div class="row">
  <% @products.each do |product| %>
  <div class="col">
      <div class="card" style="box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); border-radius: 8px 8px 8px 8px;">
        <div class="text-center">
        <%= cl_image_tag product.photo.key, class:"img-card card-img-top" %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text ov-text"><%= product.details.truncate(100) %></p>
         <%= link_to "ver detalles" , product_path(product.id), class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
