<div class="container">
<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :details %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
</div>
