<div style="background-color: #15395b;">
<div class="description justify-content-center" >
  <h1 style="color: white;"><%= @product.name  %></h1>
  <h2 style="color: white;"><%= @product.price  %></h2>
  <p style="color: white;"><%= @product.details %></p>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @product.name  %></h5>
    <h6 class="card-title"><%= @product.price  %></h6>
    <p style="color: black;"><%= @product.details %></p>
    <a href="#" class="btn btn-primary">Comprar</a>
  </div>
</div>
<div class="image ">
  <%= cl_image_tag @product.photo.key, class: "radio-imagen", height: 350, crop: :fill %>
</div>
<div>
    <% if @product.user_id == current_user.id %>
      <%= link_to "Delete", product_path(@product), data: {turbo_method: :delete, turbo_confirm: "Estas seguro?"} %>
      <%= link_to "Edit", edit_product_path(@product) %>
    <% end %>
</div>
</div>
